# .NET Core
bin/
obj/
publish/
appsettings.json
appsettings.Development.json

# Visual Studio / IDE
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# macOS
.DS_Store

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.txt

# Eski Python Versiyonu Dosyaları
unbound_dashboard.py
DNS_Paneli.bat
